/*
	HTML5 Reset ::main-style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	with GREAT RESPECT
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio,/* video,*/ details, summary {
	/* margin: 0; */
	/* padding: 0; */
	/* border: 0; */
	font-size: 100%;
	/* font-weight: normal; */
	/* vertical-align: baseline; */
	/* background: transparent; */
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements: 
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
        position: relative;
}

*, 
*:before, 
*:after {
	/* box-sizing: inherit; */
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {/* overflow-y: scroll; */}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
input[type=file], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover 
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; } 

/*********************************************************/
                        /* Styling + 
                        Ctrl+Alt+P 
                        for prefix-vendor */
/*********************************************************/
#preload {
    left: 50%;
    top: 25%;
    margin-right: -50%;
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform:  translate(-50%, 0%);
    position: absolute;
    
        
}

html ,body {
    height: 100%;
    position: relative;
    overflow: hidden;
    
      
   
}
body {
    background: #000;
    margin: auto;
    padding: 0;
    display: none;
    font: 100%/1.5 'vincentregular', 'Roboto Slab', sans-serif;
    width: auto;
    max-width: 100%;
}


/*********************************************************/
                  /* Styling header text */
/*********************************************************/
header.headline{
    /*height: auto;*/
    position: relative;
   /* top: 0rem;*/
    z-index: 666;
    width: auto;
    max-width: 100%;
    text-align: center;
}
 h1 {
  font-size: 2.5rem;
  font-family: "vincentregular", sans-serif;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  -webkit-text-shadow: -2px -1px #000, 
               -1px -2px rgba(255, 255, 255, 0.4), 
               -3px -1px 0px rgba(130, 130, 130, 0.98),
               1px 1px 0px rgba(142, 142, 142, 0.64);
   -moz-text-shadow: -2px -1px #000, 
               -1px -2px rgba(255, 255, 255, 0.4), 
               -3px -1px 0px rgba(130, 130, 130, 0.98),
               1px 1px 0px rgba(142, 142, 142, 0.64);
   -ms-text-shadow: -2px -1px #000, 
               -1px -2px rgba(255, 255, 255, 0.4), 
               -3px -1px 0px rgba(130, 130, 130, 0.98),
               1px 1px 0px rgba(142, 142, 142, 0.64);
    -o-text-shadow: -2px -1px #000, 
               -1px -2px rgba(255, 255, 255, 0.4), 
               -3px -1px 0px rgba(130, 130, 130, 0.98),
               1px 1px 0px rgba(142, 142, 142, 0.64);
  text-shadow: -2px -1px #000, 
               -1px -2px rgba(255, 255, 255, 0.4), 
               -3px -1px 0px rgba(130, 130, 130, 0.98),
               1px 1px 0px rgba(142, 142, 142, 0.64);
  display: inline-block;
  position: relative;
  z-index: 666;
  margin: auto;

}
 i[class="icon fa fa-star"] {
    color: #ffffff;
    font-style: normal;
    font-size: 0.5em;
    position: relative;
    margin: 0 0.6em 0 0.3em;
    top: -0.4em;
    bottom: 0;
    left: 0;
    right: 0;
   
}
span[class="light animated fadeInUp"] {
	font-family: "Raleway-Ext-Light", sans-serif;
	font-size: 0.9em;
	margin: 0 0.5em 0 0.25em;
}
span[class="header"] {
    
}

header > h4 {
  font-size: 1.7em;
  font-family: 'Raleway-Ext-Light', serif;
  font-weight: normal;
  font-style: normal;
  color: rgb( 255, 255, 255 );
  text-shadow: 1px 0px 1px rgb( 255, 255, 255 );
  text-transform: uppercase;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  z-index: 666;
  width: 100%;
  height: auto;
  margin: auto;
}
/*********************************************************/
                  /* Styling video & poster */
/*********************************************************/
video[autoplay] {    
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
}

#overaly {
     position: fixed;
     width: 100%;
     height: 100%;
     background: url('../img/overlay.png') no-repeat;
     z-index: 500; 
     background-size: 100% 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0; 
}
/*********************************************************/
                  /* Styling video end */
/*********************************************************/
/*********************************************************/
                  /* Styling button */
/*********************************************************/

.button {
    width: 100%;
    position: fixed;
    z-index: 666;
    left: 0;
    right: 0;
    bottom: 3em;
    text-align: center;
    height: auto;
	offset: 0;
}
.button > button {
    margin: 3em;
    padding: 0.75em;
    font-size: 1em;
    background: transparent;
    color: white;
    border: 3px solid white;
    outline: none;
    font-family: "vincentregular",sans-serif;
    letter-spacing: 0.2em;
    -webkit-transition: background-color 250ms ease-in;
    -moz-transition: background-color 250ms ease-in;
    -o-transition: background-color 250ms ease-in;
    transition: background-color 250ms ease-in;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.button > button.push:hover {
    background-color: white;
    padding: 0.75em;
    font-size: 1em;
    color: #444444;
    outline: none;
    font-family: "vincentregular",sans-serif;
    letter-spacing: 0.2em;
 }
 /*********************************************************/
                  /* Let's build a forms*/
/**********************************************************/
#form{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background: url('../img/imgform-bg.jpg') no-repeat;/*#fa8072*/ /* ? #fa8072*/ /*#6495ED blue*/ /*#9B2C3C*/
    display: none;
	background-size: cover;
}
#close {
	position: absolute;
	color: #fff;
	font: normal 2.5em/2em 'Raleway-Ext-Light', sans-serif;
	right: 4em;
	top: 0;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering: auto;
	display: block;
	
}
#close:hover{
	color: #000;
	cursor: default;
}

.steps {
    height: 100%;
}
.bg-fixed{
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	
}

.bg-fixed.form-1
{
    width: 50%;
    height: auto;
    position: absolute;
    top: 18%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}
.bg-fixed.form-2
{
    width: 50%;
    height: auto;
    position: absolute;
    top: 36%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}
.bg-fixed.form-3
{
    width: 50%;
    height: auto;
    position: absolute;
    top: 54%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}

.bg-srew-you{
	min-height: 100%;
}

/*.animate-in .form-1,
.animate-in .form-2,
.animate-in .form-3{
    left: 25%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
}
.animate-out .form-1,
.animate-out .form-2,
.animate-out .form-3{
    left: 50em;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
}*/
header.form-info{
    font: normal normal 2.4em/1.5em 'Roboto Slab', sans-serif;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.01em;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
/*#step-1 {
    margin: auto;
    text-align: center;*/
}
form[class="about"]{
    margin: 9em auto;
	text-align: center;
    
}

input[type="text"]
{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    color: whitesmoke !important;
    width: 75%;
    padding: 0.1em;
    font: normal 2em/1.1em 'Roboto Slab', sans;
    margin: 1em auto;
}
        /*flushing input & textarea fields*/
		
input:focus { outline: none;}
input:focus::-webkit-input-placeholder { color:transparent; outline-offset: 0; }
input:focus:-moz-placeholder { color:transparent ; outline-offset: 0; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent !important; outline-offset: 0; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; outline-offset: 0; } /* IE 10+ */
		
				/*toilet flushed*/


/**********************************************************/
                  /* End of form*/
/**********************************************************/















