/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.12.2014., 20:35:07
    Author     : Denis
*/

@media only screen and (min-width: 480px) and (max-width: 767px){
 /* iDiot screen */
 #preload {
      top: 8%;
 }
 header {
     top: 0em;
 }
 h1 {
     font-size: 1.3em;
     display: inline-block;
 }
 i[class="icon fa fa-star"]{
     top: -0.1em;
     font-size: 0.7em;
     display: inline-block;
     line-height: 1.5em;
 }
 header > h4 {
     font-size: 0.9em;
     top: -2em;
 }
 video[autoplay]{
     width: 79%;
     height: 100%;
     left: 4em;
     top: 2em;
 }
 .intro {
     min-width: 70%;
 }
 .button{
     height: 20%;
     bottom: 0em;
 }
 .button > button {
    font-size: 0.5em;
 }
  .button > button.push:hover {
    font-size:0.5em;
    bottom: -2em;    
 }
}